body {
  font-family: montserrat, cambria, georgia;
  background: #ee6373;
  font-weight: 700;
}
#searchbutton {
  padding: 8px 14px;
}
#search {
  display: none;
}
#results p {
  background: beige;
  border: 1px solid silver;
  width: 600px;
  font-size: 2rem;
  display: block;
}
#results a:link, #results a:visited {
  color: mediumblue;
}
#results a:hover, #results a:active {
  color: midnightblue;
}
h1, h2 {
  font-weight: 700;
  color: white;
}
button a, button a:link, button a:visited, button a:hover, button a:active {
  color: white;
  text-decoration: none;
}